<!--
<p></p>
<table class="ui striped table">
  <tbody>
    <tr ng-repeat="category in categories | orderBy:'label'">
      <td style="width:100px;white-space:nowrap;">{{category.label}}</td>
      <td class="left aligned">
        <table>
          <tbody>
            <tr ng-repeat="prod in products">
              <td ng-show="belongsToCategory(prod.categories, category.code)"><a ng-href="#/product/{{::prod.attributes.sku}}">{{::prod.attributes.product_name}}</a></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<div ng-show="!categories.length">
  <div id="main-message" class="ui visible message">
    <p>No match found for your query.</p>
  </div>
</div>
-->
<p></p>
<table class="ui striped table">
  <tbody>
    <tr ng-repeat="category in categories | orderBy:'label'">
      <td style="width:100px;white-space:nowrap;">{{category.label}}</td>

      <td class="left aligned">
        <table>
          <tbody>
            <tr ng-repeat="prod in products">
              <td ng-show="belongsToCategory(prod.categories, category.code)"><a ng-href="#/product/{{::prod.attributes.sku}}">{{::prod.attributes.product_name}}</a></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<div ng-show="!categories.length">
  <div id="main-message" class="ui visible message">
    <p>No match found for your query.</p>
  </div>
</div>
