<p></p>
<h3 class="ui dividing header">General Documentation</h3>
<div class="ui action input">
  <input type="text" ng-model="searchDocument">
  <button class="ui button">Filter</button>
</div>
<table class="ui striped table">
  <thead>
    <tr>
      <th>
        <a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">
          Name
          <span ng-show="sortType == 'title'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
        </a>
      </th>
      <th>Date</th>
      <th>Languages</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="doc in documents  | orderBy:'title' | groupBy:['properties[\'Document_Attributes:Group_Id\']'] | toArray | filter:searchDocument">
      <td><span ng-show="doc.group_by_CHANGED">{{doc.title}}</span></td>
      <td><span ng-show="doc.group_by_CHANGED"><label ng-bind="formatDate(doc.lastModified) |  date:'yyyy-dd-MM'"></label></span></td>
      <td>
        <i title="{{doc.properties['Document_Attributes:Language']}}" class="{{doc.properties['Document_Attributes:Language'] | split:'-':0 }} flag"></i>
        <a ng:href="javascript:download('{{doc.uid}}', '{{doc.properties['file:filename']}}');void(0);"><i title="pptx" ng-show="{{doc.properties['file:filename'] | endsWith:'pptx' }}" class="file powerpoint outline icon"></i><i title="zip" ng-show="{{doc.properties['file:filename'] | endsWith:'zip' }}" class="file archive outline icon"></i></a>
        <a ng-show="{{doc.properties['Document_Attributes:PDF'] != null}}" ng:href="javascript:downloadPDF('{{doc.properties['Document_Attributes:PDF'].data}}');void(0);"><i title="pdf" class="file pdf outline icon"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<div ng-show="!documents.length">
  <div id="main-message" class="ui visible message">
    <p>No documents to display.</p>
  </div>
</div>
