<p></p>
<h3 class="ui dividing header">Products & Services A-Z</h3>
<div class="ui action input">
  <input type="text" ng-model="searchProduct">
  <button class="ui button">Filter</button>
  &nbsp;&nbsp;&nbsp;
  <button id="subscription" class="ui disabled button" ng-click="subscribe()">Subscribe for document change notification</button>
</div>
<table class="ui striped table">
  <thead>
    <tr>
      <th><input type="checkbox" name="subscribe" ng-model="selectedAll" ng-click="checkAll()"></th>
      <th>
        <a href="#" ng-click="sortType = 'attributes.product_version_name'; sortReverse = !sortReverse">
          Product versions
          <span ng-show="sortType == 'attributes.product_version_name'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
        </a>
      </th>
      <th>General availability</th>
      <th>Order stop</th>
      <th>Order stop for expansions</th>
      <th>End of Development Support</th>
      <th>Order stop for spare parts</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="product in products | orderBy:sortType:sortReverse | toArray | filter:searchProduct">
      <td><input type="checkbox" name="subscribe" ng-model="product.selected" ng-click="check()"></td>
      <td><a href="#/product/{{product.attributes.sku}}" class="header">{{product.attributes.product_version_name}}</a></td>
      <td>2008-08-18</td>
      <td>estimated 2008-08-23</td>
      <td>estimated 2008-08-23</td>
      <td>estimated 2008-08-23</td>
      <td>estimated 2008-08-23</td>
    </tr>
  </tbody>
</table>
<div ng-show="!products.length">
  <div id="main-message" class="ui visible message">
    <p>No products to display.</p>
  </div>
</div>
