<h3 class="ui dividing header">Products & Services A-Z</h3>

<table class="ui striped table">
  <thead>
    <tr>
      <th><input type="checkbox" name="example"></th>
      <th>Product versions</th>
      <th>General availability</th>
      <th>Order stop</th>
      <th>Order stop for expansions</th>
      <th>End of Development Support</th>
      <th>Order stop for spare parts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox" name="example"></td>
      <td><a class="header">AC-Win IP V2</a></td>
      <td>2008-08-18</td>
      <td>estimated 2008-08-23</td>
      <td>estimated 2008-08-23</td>
      <td>estimated 2008-08-23</td>
      <td>estimated 2008-08-23</td>
    </tr>
    <tr>
      <td><input type="checkbox" name="example"></td>
      <td><a class="header">AP 1120 CorNet-IP V5.1</a></td>
      <td>2008-08-18</td>
      <td>estimated 2008-08-23</td>
      <td>estimated 2008-08-23</td>
      <td>estimated 2008-08-23</td>
      <td>estimated 2008-08-23</td>
    </tr>
    <tr>
      <td><input type="checkbox" name="example"></td>
      <td><a class="header">AP 1120 H.323 V5.1</a></td>
      <td>2008-08-18</td>
      <td>estimated 2008-08-23</td>
      <td>estimated 2008-08-23</td>
      <td>estimated 2008-08-23</td>
      <td>estimated 2008-08-23</td>
    </tr>
  </tbody>
</table>
