<div class="ui top attached tabular menu">
  <a class="active item" data-tab="first">{{product.attributes.product_version_name}}</a>
	<a class="item" data-tab="second">Documents</a>
	<a class="item" data-tab="third">FAQs</a>
</div>
<div class="ui active bottom attached active tab segment" data-tab="first">
  <div class="ui mini images" style="text-align: right;"><a ng-href="javascript:switchLanguage('de_DE')"><img id="de_DE" class="disabled ui mini image" style="cursor:pointer" src="images/flag_germany.png"/></a><a href="javascript:switchLanguage('en_US')"><img id="en_US" class="ui mini image" style="cursor:pointer" src="images/flag_great_britain.png"/></a></div>
	<img class="ui small left floated image" src="{{product.attributes.main_picture}}">
  <div language="en_US" ng-bind-html="renderHTML(product.attributes.version_description[''].en_US)"></div>
  <div language="de_DE" style="display:none;" ng-bind-html="renderHTML(product.attributes.version_description[''].de_DE)"></div>
  <p></p>
  <p></p>
  <div class="ui grid">
			<div class="six wide column">
				<h3 class="ui header">Key facts</h3>
        <div language="en_US" ng-bind-html="renderHTML(product.attributes.key_facts[''].en_US)"></div>
        <div language="de_DE" style="display:none;" ng-bind-html="renderHTML(product.attributes.key_facts[''].de_DE)"></div>
			</div>
			<div class="three wide column">
		  	<h3 class="ui header">Links</h3>
				<p><i class="angle right icon"></i>OSIRIS</p>
				<p><i class="angle right icon"></i>Presales Dialog</p>
				<p><i class="angle right icon"></i>Global Pricelist</p>
				<p><i class="angle right icon"></i>EN Score</p>
				<p><i class="angle right icon"></i>Competitor & Market</p>
				<p><i class="angle right icon"></i>TI-Online</p>
				<p><i class="angle right icon"></i>Technical Information Online</p>
				<p><i class="angle right icon"></i>Search TI Online (AVANT)</p>
			</div>
		  <div class="three wide column">
				<h3 class="ui header">Status</h3>
				<p><b>Country:</b> DE</p>
				<p><b>Release Date:</b> 2015-04-30</p>
				<p><b>Current Milestone:</b> M4</p>
			</div>
	</div>
</div>
<div class="ui bottom attached tab segment" data-tab="second">
		<div class="ui bottom attached tabular menu">
	    <a class="item" data-tab="marketing">Marketing</a>
	    <a class="item" data-tab="enabling">Enabling</a>
	    <a class="active item" data-tab="presales">Presales</a>
			<a class="item" data-tab="evaluate">Evaluate</a>
			<a class="item" data-tab="design">Design</a>
			<a class="item" data-tab="implement">Implement</a>
			<a class="item" data-tab="operate">Operate</a>
			<a class="item" data-tab="improve">Improve</a>
	  </div>
	  <div class="ui bottom attached tab segment" data-tab="marketing">
      <table class="ui striped table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Langages - Versions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="doc in documents  | orderBy:'title' | groupBy:['properties[\'Document_Attributes:Group_Id\']'] | filter:typeMatcher('Marketing')">
            <td><span ng-show="doc.group_by_CHANGED">{{doc.title}}</span></td>
            <td><span ng-show="doc.group_by_CHANGED"><label ng-bind="formatDate(doc.lastModified) |  date:'yyyy-dd-MM'"></label></span></td>
            <td>
              <i ng-show="doc.properties['Document_Attributes:Language'] != 'en-US' && doc.properties['Document_Attributes:Language'] != 'en-GB'" title="{{::doc.properties['Document_Attributes:Language']}}" class="{{::doc.properties['Document_Attributes:Language'] | split:'-':0}} flag"></i>
              <i ng-show="doc.properties['Document_Attributes:Language'] == 'en-US' ||  doc.properties['Document_Attributes:Language'] == 'en-GB'" title="English" class="us flag"></i>
              <a ng:href="javascript:download('{{::doc.uid}}', '{{::doc.properties['file:filename']}}');void(0);">
                <i title="pptx" ng-show="{{::doc.properties['file:filename'] | endsWith:'pptx' }}" class="file powerpoint outline icon"></i>
                <i title="zip" ng-show="{{::doc.properties['file:filename'] | endsWith:'zip' }}" class="file archive outline icon"></i>
                <i title="pdf" ng-show="{{::doc.properties['file:filename'] | endsWith:'pdf' }}" class="file pdf outline icon"></i>
              </a>
              <a ng-show="{{::doc.properties['Document_Attributes:PDF'] != null}}" ng:href="javascript:downloadPDF('{{::doc.properties['Document_Attributes:PDF'].data}}');void(0);">
                <i title="pdf" class="file pdf outline icon"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div ng-show="!documents.length">
        <div id="main-message" class="ui visible message">
          <p>No documents to display.</p>
        </div>
      </div>
    </div>
	  <div class="ui bottom attached tab segment" data-tab="enabling">
      <table class="ui striped table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Langages - Versions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="doc in documents  | orderBy:'title' | groupBy:['properties[\'Document_Attributes:Group_Id\']'] | filter:typeMatcher('Enabling')">
            <td><span ng-show="doc.group_by_CHANGED">{{::doc.title}}</span></td>
            <td><span ng-show="doc.group_by_CHANGED"><label ng-bind="formatDate(doc.lastModified) |  date:'yyyy-dd-MM'"></label></span></td>
            <td>
              <i ng-show="doc.properties['Document_Attributes:Language'] != 'en-US' && doc.properties['Document_Attributes:Language'] != 'en-GB'" title="{{::doc.properties['Document_Attributes:Language']}}" class="{{::doc.properties['Document_Attributes:Language'] | split:'-':0}} flag"></i>
              <i ng-show="doc.properties['Document_Attributes:Language'] == 'en-US' ||  doc.properties['Document_Attributes:Language'] == 'en-GB'" title="English" class="us flag"></i>
              <a ng:href="javascript:download('{{::doc.uid}}', '{{::doc.properties['file:filename']}}');void(0);">
                <i title="pptx" ng-show="{{::doc.properties['file:filename'] | endsWith:'pptx' }}" class="file powerpoint outline icon"></i>
                <i title="zip" ng-show="{{::doc.properties['file:filename'] | endsWith:'zip' }}" class="file archive outline icon"></i>
                <i title="pdf" ng-show="{{::doc.properties['file:filename'] | endsWith:'pdf' }}" class="file pdf outline icon"></i>
              </a>
              <a ng-show="{{::doc.properties['Document_Attributes:PDF'] != null}}" ng:href="javascript:downloadPDF('{{::doc.properties['Document_Attributes:PDF'].data}}');void(0);">
                <i title="pdf" class="file pdf outline icon"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div ng-show="!documents.length">
        <div id="main-message" class="ui visible message">
          <p>No documents to display.</p>
        </div>
      </div>
    </div>
	  <div class="ui bottom attached active tab segment" data-tab="presales">
      <table class="ui striped table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Langages - Versions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="doc in documents  | orderBy:'title' | groupBy:['properties[\'Document_Attributes:Group_Id\']'] | filter:typeMatcher('Presales')">
            <td><span ng-show="doc.group_by_CHANGED">{{::doc.title}}</span></td>
            <td><span ng-show="doc.group_by_CHANGED"><label ng-bind="formatDate(doc.lastModified) |  date:'yyyy-dd-MM'"></label></span></td>
            <td>
              <i ng-show="doc.properties['Document_Attributes:Language'] != 'en-US' && doc.properties['Document_Attributes:Language'] != 'en-GB'" title="{{::doc.properties['Document_Attributes:Language']}}" class="{{::doc.properties['Document_Attributes:Language'] | split:'-':0}} flag"></i>
              <i ng-show="doc.properties['Document_Attributes:Language'] == 'en-US' ||  doc.properties['Document_Attributes:Language'] == 'en-GB'" title="English" class="us flag"></i>
              <a ng:href="javascript:download('{{::doc.uid}}', '{{::doc.properties['file:filename']}}');void(0);">
                <i title="pptx" ng-show="{{::doc.properties['file:filename'] | endsWith:'pptx' }}" class="file powerpoint outline icon"></i>
                <i title="zip" ng-show="{{::doc.properties['file:filename'] | endsWith:'zip' }}" class="file archive outline icon"></i>
                <i title="pdf" ng-show="{{::doc.properties['file:filename'] | endsWith:'pdf' }}" class="file pdf outline icon"></i>
              </a>
              <a ng-show="{{::doc.properties['Document_Attributes:PDF'] != null}}" ng:href="javascript:downloadPDF('{{::doc.properties['Document_Attributes:PDF'].data}}');void(0);">
                <i title="pdf" class="file pdf outline icon"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div ng-show="!documents.length">
        <div id="main-message" class="ui visible message">
          <p>No documents to display.</p>
        </div>
      </div>
    </div>
		<div class="ui bottom attached tab segment" data-tab="evaluate">
      <table class="ui striped table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Langages - Versions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="doc in documents  | orderBy:'title' | groupBy:['properties[\'Document_Attributes:Group_Id\']'] | filter:typeMatcher('Evaluate')">
            <td><span ng-show="doc.group_by_CHANGED">{{::doc.title}}</span></td>
            <td><span ng-show="doc.group_by_CHANGED"><label ng-bind="formatDate(doc.lastModified) |  date:'yyyy-dd-MM'"></label></span></td>
            <td>
              <i ng-show="doc.properties['Document_Attributes:Language'] != 'en-US' && doc.properties['Document_Attributes:Language'] != 'en-GB'" title="{{::doc.properties['Document_Attributes:Language']}}" class="{{::doc.properties['Document_Attributes:Language'] | split:'-':0}} flag"></i>
              <i ng-show="doc.properties['Document_Attributes:Language'] == 'en-US' ||  doc.properties['Document_Attributes:Language'] == 'en-GB'" title="English" class="us flag"></i>
              <a ng:href="javascript:download('{{::doc.uid}}', '{{::doc.properties['file:filename']}}');void(0);">
                <i title="pptx" ng-show="{{::doc.properties['file:filename'] | endsWith:'pptx' }}" class="file powerpoint outline icon"></i>
                <i title="zip" ng-show="{{::doc.properties['file:filename'] | endsWith:'zip' }}" class="file archive outline icon"></i>
                <i title="pdf" ng-show="{{::doc.properties['file:filename'] | endsWith:'pdf' }}" class="file pdf outline icon"></i>
              </a>
              <a ng-show="{{::doc.properties['Document_Attributes:PDF'] != null}}" ng:href="javascript:downloadPDF('{{::doc.properties['Document_Attributes:PDF'].data}}');void(0);">
                <i title="pdf" class="file pdf outline icon"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div ng-show="!documents.length">
        <div id="main-message" class="ui visible message">
          <p>No documents to display.</p>
        </div>
      </div>
    </div>
		<div class="ui bottom attached tab segment" data-tab="design">
      <table class="ui striped table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Langages - Versions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="doc in documents  | orderBy:'title' | groupBy:['properties[\'Document_Attributes:Group_Id\']'] | filter:typeMatcher('Design')">
            <td><span ng-show="doc.group_by_CHANGED">{{::doc.title}}</span></td>
            <td><span ng-show="doc.group_by_CHANGED"><label ng-bind="formatDate(doc.lastModified) |  date:'yyyy-dd-MM'"></label></span></td>
            <td>
              <i ng-show="doc.properties['Document_Attributes:Language'] != 'en-US' && doc.properties['Document_Attributes:Language'] != 'en-GB'" title="{{::doc.properties['Document_Attributes:Language']}}" class="{{::doc.properties['Document_Attributes:Language'] | split:'-':0}} flag"></i>
              <i ng-show="doc.properties['Document_Attributes:Language'] == 'en-US' ||  doc.properties['Document_Attributes:Language'] == 'en-GB'" title="English" class="us flag"></i>
              <a ng:href="javascript:download('{{::doc.uid}}', '{{::doc.properties['file:filename']}}');void(0);">
                <i title="pptx" ng-show="{{::doc.properties['file:filename'] | endsWith:'pptx' }}" class="file powerpoint outline icon"></i>
                <i title="zip" ng-show="{{::doc.properties['file:filename'] | endsWith:'zip' }}" class="file archive outline icon"></i>
                <i title="pdf" ng-show="{{::doc.properties['file:filename'] | endsWith:'pdf' }}" class="file pdf outline icon"></i>
              </a>
              <a ng-show="{{::doc.properties['Document_Attributes:PDF'] != null}}" ng:href="javascript:downloadPDF('{{::doc.properties['Document_Attributes:PDF'].data}}');void(0);">
                <i title="pdf" class="file pdf outline icon"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div ng-show="!documents.length">
        <div id="main-message" class="ui visible message">
          <p>No documents to display.</p>
        </div>
      </div>
    </div>
		<div class="ui bottom attached tab segment" data-tab="implement">
      <table class="ui striped table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Langages - Versions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="doc in documents  | orderBy:'title' | groupBy:['properties[\'Document_Attributes:Group_Id\']'] | filter:typeMatcher('Implement')">
            <td><span ng-show="doc.group_by_CHANGED">{{::doc.title}}</span></td>
            <td><span ng-show="doc.group_by_CHANGED"><label ng-bind="formatDate(doc.lastModified) |  date:'yyyy-dd-MM'"></label></span></td>
            <td>
              <i ng-show="doc.properties['Document_Attributes:Language'] != 'en-US' && doc.properties['Document_Attributes:Language'] != 'en-GB'" title="{{::doc.properties['Document_Attributes:Language']}}" class="{{::doc.properties['Document_Attributes:Language'] | split:'-':0}} flag"></i>
              <i ng-show="doc.properties['Document_Attributes:Language'] == 'en-US' ||  doc.properties['Document_Attributes:Language'] == 'en-GB'" title="English" class="us flag"></i>
              <a ng:href="javascript:download('{{::doc.uid}}', '{{::doc.properties['file:filename']}}');void(0);">
                <i title="pptx" ng-show="{{::doc.properties['file:filename'] | endsWith:'pptx' }}" class="file powerpoint outline icon"></i>
                <i title="zip" ng-show="{{::doc.properties['file:filename'] | endsWith:'zip' }}" class="file archive outline icon"></i>
                <i title="pdf" ng-show="{{::doc.properties['file:filename'] | endsWith:'pdf' }}" class="file pdf outline icon"></i>
              </a>
              <a ng-show="{{::doc.properties['Document_Attributes:PDF'] != null}}" ng:href="javascript:downloadPDF('{{::doc.properties['Document_Attributes:PDF'].data}}');void(0);">
                <i title="pdf" class="file pdf outline icon"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div ng-show="!documents.length">
        <div id="main-message" class="ui visible message">
          <p>No documents to display.</p>
        </div>
      </div>
    </div>
		<div class="ui bottom attached tab segment" data-tab="operate">
      <table class="ui striped table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Langages - Versions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="doc in documents  | orderBy:'title' | groupBy:['properties[\'Document_Attributes:Group_Id\']'] | filter:typeMatcher('Operate')">
            <td><span ng-show="doc.group_by_CHANGED">{{::doc.title}}</span></td>
            <td><span ng-show="doc.group_by_CHANGED"><label ng-bind="formatDate(doc.lastModified) |  date:'yyyy-dd-MM'"></label></span></td>
            <td>
              <i ng-show="doc.properties['Document_Attributes:Language'] != 'en-US' && doc.properties['Document_Attributes:Language'] != 'en-GB'" title="{{::doc.properties['Document_Attributes:Language']}}" class="{{::doc.properties['Document_Attributes:Language'] | split:'-':0}} flag"></i>
              <i ng-show="doc.properties['Document_Attributes:Language'] == 'en-US' ||  doc.properties['Document_Attributes:Language'] == 'en-GB'" title="English" class="us flag"></i>
              <a ng:href="javascript:download('{{::doc.uid}}', '{{::doc.properties['file:filename']}}');void(0);">
                <i title="pptx" ng-show="{{::doc.properties['file:filename'] | endsWith:'pptx' }}" class="file powerpoint outline icon"></i>
                <i title="zip" ng-show="{{::doc.properties['file:filename'] | endsWith:'zip' }}" class="file archive outline icon"></i>
                <i title="pdf" ng-show="{{::doc.properties['file:filename'] | endsWith:'pdf' }}" class="file pdf outline icon"></i>
              </a>
              <a ng-show="{{::doc.properties['Document_Attributes:PDF'] != null}}" ng:href="javascript:downloadPDF('{{::doc.properties['Document_Attributes:PDF'].data}}');void(0);">
                <i title="pdf" class="file pdf outline icon"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div ng-show="!documents.length">
        <div id="main-message" class="ui visible message">
          <p>No documents to display.</p>
        </div>
      </div>
    </div>
		<div class="ui bottom attached tab segment" data-tab="improve">
      <table class="ui striped table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Langages - Versions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="doc in documents  | orderBy:'title' | groupBy:['properties[\'Document_Attributes:Group_Id\']'] | filter:typeMatcher('Improve')">
            <td><span ng-show="doc.group_by_CHANGED">{{::doc.title}}</span></td>
            <td><span ng-show="doc.group_by_CHANGED"><label ng-bind="formatDate(doc.lastModified) |  date:'yyyy-dd-MM'"></label></span></td>
            <td>
              <i ng-show="doc.properties['Document_Attributes:Language'] != 'en-US' && doc.properties['Document_Attributes:Language'] != 'en-GB'" title="{{::doc.properties['Document_Attributes:Language']}}" class="{{::doc.properties['Document_Attributes:Language'] | split:'-':0}} flag"></i>
              <i ng-show="doc.properties['Document_Attributes:Language'] == 'en-US' ||  doc.properties['Document_Attributes:Language'] == 'en-GB'" title="English" class="us flag"></i>
              <a ng:href="javascript:download('{{::doc.uid}}', '{{::doc.properties['file:filename']}}');void(0);">
                <i title="pptx" ng-show="{{::doc.properties['file:filename'] | endsWith:'pptx' }}" class="file powerpoint outline icon"></i>
                <i title="zip" ng-show="{{::doc.properties['file:filename'] | endsWith:'zip' }}" class="file archive outline icon"></i>
                <i title="pdf" ng-show="{{::doc.properties['file:filename'] | endsWith:'pdf' }}" class="file pdf outline icon"></i>
              </a>
              <a ng-show="{{::doc.properties['Document_Attributes:PDF'] != null}}" ng:href="javascript:downloadPDF('{{::doc.properties['Document_Attributes:PDF'].data}}');void(0);">
                <i title="pdf" class="file pdf outline icon"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div ng-show="!documents.length">
        <div id="main-message" class="ui visible message">
          <p>No documents to display.</p>
        </div>
      </div>
    </div>
</div>
<div class="ui bottom attached tab segment" data-tab="third">
		<h5 class="ui header">FAQs</h5>
</div>
