<div class="ui top attached tabular menu">
  <div class="active item" data-tab="first">AC-Win IP V2</div>
	<div class="item" data-tab="second">Documents</div>
	<div class="item" data-tab="third">FAQs</div>
</div>
<div class="ui active bottom attached active tab segment" data-tab="first">
	<img class="ui small left floated image" src="https://enterprise-businessarea.unify.com/ProductHomepages/~/media/1193B48298CD4B0F86E96DBBA24D352D.ashx">
	<p>he enhanced attendant console AC-Win IP V2 is a PC-based application supported by the Windows Vista Enterprise 32Bit Service Pack 1 and Windows Vista Business 32Bit Service Pack 1 operating systems and permits convenient call switching.

AC-Win IP V2 can be used with two (AC-Win 2Q IP V2) or twelve queues (AC-Win MQ IP V2). The CD supplied with the product contains both versions. Users must select one of the versions during installation.</p>
	<div class="ui grid">
			<div class="six wide column">
				<h3 class="ui header">Key facts</h3>
			</div>
			<div class="three wide column">
		  	<h3 class="ui header">Links</h3>
				<p><i class="angle right icon"></i>OSIRIS</p>
				<p><i class="angle right icon"></i>Presales Dialog</p>
				<p><i class="angle right icon"></i>Global Pricelist</p>
				<p><i class="angle right icon"></i>EN Score</p>
				<p><i class="angle right icon"></i>Competitor & Market</p>
				<p><i class="angle right icon"></i>TI-Online</p>
				<p><i class="angle right icon"></i>Technical Information Online</p>
				<p><i class="angle right icon"></i>Search TI Online (AVANT)</p>
			</div>
		  <div class="three wide column">
				<h3 class="ui header">Status</h3>
				<p><b>Country:</b> DE</p>
				<p><b>Release Date:</b> 2015-04-30</p>
				<p><b>Current Milestone:</b> M4</p>
			</div>
	</div>
</div>
<div class="ui bottom attached tab segment" data-tab="second">
		<h5 class="ui header">Documents</h5>
		<!--
				<div class="ui secondary menu">
				  <div class="item" data-tab="second/marketing">Marketing</div>
					<div class="item" data-tab="second/enabling">Enabling</div>
					<div class="active item" data-tab="second/presales">Presales</div>
					<div class="item" data-tab="second/evaluate">Evaluate</div>
					<div class="item" data-tab="second/design">Design</div>
					<div class="item" data-tab="second/implement">Implement</div>
					<div class="item" data-tab="second/operate">Operate</div>
					<div class="item" data-tab="second/improve">Improve</div>
				</div>
				<div class="ui tab segment" data-tab="second/marketing"></div>
				<div class="ui tab segment" data-tab="second/enabling"></div>
				<div class="ui active tab segment" data-tab="second/presales"></div>
				<div class="ui tab segment" data-tab="second/evaluate"></div>
				<div class="ui tab segment" data-tab="second/design"></div>
				<div class="ui tab segment" data-tab="second/implement"></div>
				<div class="ui tab segment" data-tab="second/operate"></div>
				<div class="ui tab segment" data-tab="second/improve"></div>
				-->
</div>

<div class="ui bottom attached tab segment" data-tab="third">
		<h5 class="ui header">FAQs</h5>
</div>
