<div class="ui top attached tabular menu">
  <a class="active item" data-tab="first">{{product.attributes.product_version_name}}</a>
	<a class="item" data-tab="second">Documents</a>
	<a class="item" data-tab="third">FAQs</a>
</div>
<div class="ui active bottom attached active tab segment" data-tab="first">
	<img class="ui small left floated image" src="{{product.attributes.main_picture}}">
	<p>he enhanced attendant console AC-Win IP V2 is a PC-based application supported by the Windows Vista Enterprise 32Bit Service Pack 1 and Windows Vista Business 32Bit Service Pack 1 operating systems and permits convenient call switching.
AC-Win IP V2 can be used with two (AC-Win 2Q IP V2) or twelve queues (AC-Win MQ IP V2). The CD supplied with the product contains both versions. Users must select one of the versions during installation.</p>
	<div class="ui grid">
			<div class="six wide column">
				<h3 class="ui header">Key facts</h3>
			</div>
			<div class="three wide column">
		  	<h3 class="ui header">Links</h3>
				<p><i class="angle right icon"></i>OSIRIS</p>
				<p><i class="angle right icon"></i>Presales Dialog</p>
				<p><i class="angle right icon"></i>Global Pricelist</p>
				<p><i class="angle right icon"></i>EN Score</p>
				<p><i class="angle right icon"></i>Competitor & Market</p>
				<p><i class="angle right icon"></i>TI-Online</p>
				<p><i class="angle right icon"></i>Technical Information Online</p>
				<p><i class="angle right icon"></i>Search TI Online (AVANT)</p>
			</div>
		  <div class="three wide column">
				<h3 class="ui header">Status</h3>
				<p><b>Country:</b> DE</p>
				<p><b>Release Date:</b> 2015-04-30</p>
				<p><b>Current Milestone:</b> M4</p>
			</div>
	</div>
</div>
<div class="ui bottom attached tab segment" data-tab="second">
		<div class="ui bottom attached tabular menu">
	    <a class="item" data-tab="marketing">Marketing</a>
	    <a class="item" data-tab="enabling">Enabling</a>
	    <a class="active item" data-tab="presales">Presales</a>
			<a class="item" data-tab="evaluate">Evaluate</a>
			<a class="item" data-tab="design">Design</a>
			<a class="item" data-tab="implement">Implement</a>
			<a class="item" data-tab="operate">Operate</a>
			<a class="item" data-tab="improve">Improve</a>
	  </div>
	  <div class="ui bottom attached tab segment" data-tab="marketing">Marketing</div>
	  <div class="ui bottom attached tab segment" data-tab="enabling">Enabling</div>
	  <div class="ui bottom attached active tab segment" data-tab="presales">
      <table class="ui striped table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Langages</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="doc in documents  | orderBy:'title' | groupBy:['title']">
            <td><span ng-show="doc.group_by_CHANGED">{{doc.title}}</span></td>
            <td><span ng-show="doc.group_by_CHANGED"><label ng-bind="formatDate(doc.lastModified) |  date:'yyyy-dd-MM'"></label></span></td>
            <td>
              <a ng:href="javascript:download('{{doc.uid}}', '{{doc.properties['file:filename']}}');void(0);">{{doc.properties['translation_document:Language']}}</a>
            </td>
          </tr>
        </tbody>
      </table>
      <div ng-show="!documents.length">
        <div id="main-message" class="ui visible message">
          <p>No documents to display.</p>
        </div>
      </div>
    </div>
		<div class="ui bottom attached tab segment" data-tab="evaluate">Evaluate</div>
		<div class="ui bottom attached tab segment" data-tab="design">Design</div>
		<div class="ui bottom attached tab segment" data-tab="implement">Implement</div>
		<div class="ui bottom attached tab segment" data-tab="operate">Operate</div>
		<div class="ui bottom attached tab segment" data-tab="improve">Improve</div>
</div>
<div class="ui bottom attached tab segment" data-tab="third">
		<h5 class="ui header">FAQs</h5>
</div>
