<p></p>
<h3 class="ui dividing header">Sales Circulars</h3>
<p>Sales circulars provide information on new product releases and product phase-outs.</p>
<p>Please check here regularly to stay up-to-date on our entire solutions portfolio.</p>
<p></p>
<p>Please note that this information may vary by country, therefore, always check local announcements and verify the information with your local account manager.</p>
<div class="ui top attached tabular menu">
  <a class="active item" data-tab="first">Sales Release</a>
	<a class="item" data-tab="second">Sales Push</a>
	<a class="item" data-tab="third">Phaseout</a>
</div>
<div class="ui active bottom attached active tab segment" data-tab="first">
	<table class="ui striped table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Issue date</th>
				<th>Langages</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="doc in documentsRelease  | orderBy:'title' | groupBy:[properties['Document_Attributes:Group_Id']]">
				<td><span ng-show="doc.group_by_CHANGED">{{doc.title}}</span></td>
				<td><span ng-show="doc.group_by_CHANGED"><label ng-bind="formatDate(doc.lastModified) |  date:'yyyy-dd-MM'"></label></span></td>
				<td>
					<a ng:href="javascript:download('{{doc.uid}}', '{{doc.properties['file:filename']}}');void(0);">{{doc.properties['Document_Attributes:Language']}}</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-show="!documentsRelease.length">
		<div id="main-message" class="ui visible message">
			<p>No documents to display.</p>
		</div>
	</div>

</div>
<div class="ui bottom attached tab segment" data-tab="second">
	<table class="ui striped table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Issue date</th>
				<th>Langages</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="doc in documentsPush  | orderBy:'title' | groupBy:['title']">
				<td><span ng-show="doc.group_by_CHANGED">{{doc.title}}</span></td>
				<td><span ng-show="doc.group_by_CHANGED"><label ng-bind="formatDate(doc.lastModified) |  date:'yyyy-dd-MM'"></label></span></td>
				<td>
					<a ng:href="javascript:download('{{doc.uid}}', '{{doc.properties['file:filename']}}');void(0);">{{doc.properties['Document_Attributes:Language']}}</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-show="!documentsPush.length">
		<div id="main-message" class="ui visible message">
			<p>No documents to display.</p>
		</div>
	</div>
</div>
<div class="ui bottom attached tab segment" data-tab="third">
	<table class="ui striped table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Issue date</th>
				<th>Langages</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="doc in documentsPhaseOut  | orderBy:'title' | groupBy:['title']">
				<td><span ng-show="doc.group_by_CHANGED">{{doc.title}}</span></td>
				<td><span ng-show="doc.group_by_CHANGED"><label ng-bind="formatDate(doc.lastModified) |  date:'yyyy-dd-MM'"></label></span></td>
				<td>
					<a ng:href="javascript:download('{{doc.uid}}', '{{doc.properties['file:filename']}}');void(0);">{{doc.properties['Document_Attributes:Language']}}</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-show="!documentsPhaseOut.length">
		<div id="main-message" class="ui visible message">
			<p>No documents to display.</p>
		</div>
	</div>
</div>
