<p></p>
<h3 class="ui dividing header">My notification subscriptions</h3>
<table class="ui striped table">
	<thead>
		<tr>
			<th>Product</th>
			<!--th>Scope</th-->
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="sub in subscriptions  | orderBy:'title'">
			<td>{{sub.title}}</td>
			<!--td>
				{{sub.properties['subscription:scope']}}
				<select id="scopevalue-{{sub.uid}}" class="ui dropdown" ng-model="sub.properties['subscription:scope']" ng-init="notificationScope.properties['id']='sales_documentation'" ng-options="notificationScopes.properties['id'] as notificationScope.properties['label'] for notificationScope in notificationScopes" ng-change="changeScope(sub.uid)">
				</select>
			</td-->
			<td>
        <!--button id="scope-{{sub.uid}}" class="ui button" ng-click="changeScope(sub.uid)">Change scope</button>
        &nbsp;&nbsp;&nbsp;-->
        <button id="subscription-{{sub.uid}}" class="ui red button" ng-click="unsubscribe(sub.uid)">Unsubscribe</button>
			</td>
		</tr>
	</tbody>
</table>
<div ng-show="!subscriptions.length">
	<div id="main-message" class="ui visible message">
		<p>No subscriptions.</p>
	</div>
</div>
